{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome!</h1>
    <p class="lead"> Do you want to make your life easier? Do you want to stop wasting
       time scrolling through websites trying to get wind of events that might interest you? 
       Do you still want to stay up to date on the latest events?</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}